@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-main{
  color: #ff2929;
}
.bg-main{
  background: #ff2929;
}